*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
		background-image: url(download.jpg);
		background-size: cover;
		background-position: center;
		font-family: sans-serif;
}
.menu-bar
{
	background: yellow;
	text-align: center;
}
.menu-bar ul
{
		display: inline-flex;
		list-style: none;
		color: blue;
}
.menu-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: blue;
}
.active,.menu-bar ul li:hover
{
		background: white;
		border-radius: 1px;
}
.sub-menu-1
{   
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: yellow;
	margin-left: -15px;
	margin-top: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{	
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted blue;
	background: transparent;
	border-radius: 0px;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #000;
}